[flake8]
show-source=true
statistics=true
max-line-length=80
exclude =
  .git,
  setup.py,
  build,
  k2/python/host,
  docs

ignore =
  # E127 continuation line over-indented for visual indent
  E127,
  # F401, import but not used
  F401,
