[flake8]
show-source=true
statistics=true
max-line-length=80
per-file-ignores =
    # line too long E501
    # line break before operator  W503
    k2/python/k2/rnnt_loss.py: E501, W503
    k2/python/k2/version/version.py: E501
    k2/python/tests/rnnt_loss_test.py: W503
    k2/python/tests/rnnt_decode_test.py: W503
exclude =
  .git,
  setup.py,
  get_version.py
  build,
  k2/python/host,
  k2/python/k2/__init__.py,
  k2/python/k2/ctc_loss.py,
  docs

ignore =
  # E127 continuation line over-indented for visual indent
  E127,
  # F401, import but not used
  F401,
  # W504, line break after binary operator
  W504,
  # W503, line break before binary operator
  W503,
